%grid {
  $edge: 7vw;
  background-color: rgba($color: #cccccc, $alpha: 0.75);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 1vw;
  padding-left: 1vw;
  width: 4 * $edge + 4vw;
  height: 4 * $edge + 4vw;
  border-radius: 1vw;
  position: relative;
}

#container {
  @extend %grid;
}

#gameOver {
  @extend %grid;
  background-color: rgba($color: #cccccc, $alpha: 0.8);
  margin-top: - (33vw);
  z-index: 99;
  button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 12vw;

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      &:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
    }

    &:hover {
      span {
        padding-right: 25px;
        &:after {
          opacity: 1;
          right: 0;
        }
      }
    }
  }
}

#title {
  color: white;
  font-size: 2.5vw;
  margin-bottom: 0;
}

#score {
  color: white;
  font-size: 2vw;
  margin-top: 0;
}
