#container {
  $edge: 7vw;
  background-color: rgba(230, 230, 230, 0.75);
  margin-left: auto;
  margin-right: auto;
  padding-top: 1vw;
  padding-left: 1vw;
  width: 4 * $edge + 4vw;
  height: 4 * $edge + 4vw;
  border-radius: 1vw;
  position: relative;
}

#title {
  color: white;
  font-size: 2.5vw;
  margin-bottom: 0;
}

#score {
  color: white;
  font-size: 2vw;
  margin-top: 0;
}

.appear-enter-active {
  animation: appear 300ms ease-in-out forwards;
}

.appear-leave-active {
  animation: appear 300ms ease-in-out reverse;
}

@keyframes appear{
  0% {
    scale: 0;
  }
  90% {
    scale: 1.15;
  }
  100% {
    scale: 1;
  }
}
