div {
  $edge: 7vw;
  color: white;
  font-size: 5vw;
  font-weight: bold;
  line-height: $edge;
  border-radius: 1vw;
  width: $edge;
  height: $edge;
  position: absolute;
  transition: all 300ms;
}

.tile-2 {
  background-color: #ffbb88;
}

.tile-4 {
  background-color: #ff9966;
}

.tile-8 {
  background-color: #ff7755;
}

.tile-16 {
  background-color: #ff5533;
}

.tile-32 {
  background-color: #ff0000;
}

.tile-64 {
  background-color: #207f4a;
}

.tile-128 {
  background-color: #20894d;
  font-size: 3.7vw;
}

.tile-256 {
  background-color: #41ae3c;
  font-size: 3.7vw;
}

.tile-512 {
  background-color: #45b787;
  font-size: 3.7vw;
}

.tile-1024 {
  background-color: #57c3c2;
  font-size: 3vw;
}

.tile-2048 {
  background-color: #0f95b0;
  font-size: 3vw;
}

.tile-4096 {
  background-color: #2376b7;
  font-size: 3vw;
}

.tile-8192 {
  background-color: #11659a;
  font-size: 3vw;
}

@for $row from 0 to 4 {
  .position-row-#{$row} {
    top: 8vw * $row + 1vw ;
  }
}

@for $column from 0 to 4 {
  .position-column-#{$column} {
    left: 8vw * $column + 1vw;
  }
}


@for $fromRow from 0 to 4 {
  @for $toRow from 0 to 4 {
    $name: 'row-from-#{$fromRow}-to-#{$toRow}-leave-active';
    .#{$name} {
      // animation: #{$name} 300ms ease-in-out forwards;
      animation: #{$name} 200ms ease-in-out forwards;
    }
    @keyframes #{$name} {
      0% {
        top: 8vw * $fromRow + 1vw;
      }
      100% {
        top: 8vw * $toRow + 1vw;
      }
    }
  }
}

@for $fromColumn from 0 to 4 {
  @for $toColumn from 0 to 4 {
    $name: 'column-from-#{$fromColumn}-to-#{$toColumn}-leave-active';
    .#{$name} {
      // animation: #{$name} 300ms ease-in-out forwards;
      animation: #{$name} 200ms ease-in-out forwards;
    }

    @keyframes #{$name} {
      0% {
        left: 8vw * $fromColumn + 1vw;
      }
      100% {
        left: 8vw * $toColumn + 1vw;
      }
    }
  }
}

.appear-enter-active {
  animation: appear 200ms ease-in-out forwards;
}

@keyframes appear{
  0% {
    scale: 0;
  }
  90% {
    scale: 1.15;
  }
  100% {
    scale: 1;
  }
}